body{
  margin: 0;
  padding: 0;
}
.nav-list{
  list-style-type: none;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
.nav-link{
  text-decoration: none;
  color: rgb(51, 25, 157);
}
.nav-list  li button{
  color: rgb(51, 25, 157);
  border: 2px solid rgb(51, 25, 157);
  background-color: aliceblue;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
.nav-list  li button:hover{
  background-color: rgb(51, 25, 157);
  color: white;
}
@media only screen and (max-width:600px) {
  .nav-list  li .login{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 25px;
  }
}